<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% extends 'base.html' %}
    {% block content %}
    <form method="post">
    <div class="form-group">
      {{form.hidden_tag()}}

      <p class="jumbotron"> Or you can enter the ID of the dish you want to modify: </p>
        {{form.id.label}}{{form.id()}}
        {{form.submit()}}
    </div> </form>
    <!--{% if form.id %}
    {% endif %}-->
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Dish name</th>
          <th scope="col">Dish type</th>
          <th scope="col">Dish Description</th>
          <th scope="col">Dish price</th>
        </tr>
      </thead>
      <tbody>
        {% for list in all_dishes %}
        <tr>
          <th scope="row">{{ list.id}}</th>
          <td>{{list.name}}</td>
          <td>{{list.type}}</td>
          <td>{{list.description}}</td>
          <td>{{list.image}}</td>
          <td>{{list.price}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
  </body>
</html>
